[Desktop Entry]
Type=Application
Name=Santoni
Comment=Entraînement à Santorini
Exec=/mnt/linuxdata/cedric/StudioProjects/Santoni/start_native.sh
Path=/mnt/linuxdata/cedric/StudioProjects/Santoni
Icon=applications-games
Terminal=false
Categories=Game;BoardGame;
